# GSOW REST API

This project uses [AWS Chalice](https://aws.github.io/chalice/) to make deploying to AWS Lambda a breeze.

The `app.py` file is the entry point to the code.  Note that a peculiarity of Chalice is that you cannot have a `src/` folder.  Instead you can only have a `chalicelib/` folder.

## Getting Started

If you wish to develop on his API, follow the steps below.

- [ ] Create a `.env` file based on `.env.sample`